extends ../base
include ../mixins/icons
include ../mixins/videoGrid

block content
  form.search__form
    input(type="text" placeholder="Search by title" name="keyword" value=keyword)
    button(type="submit") Search
      +searchIcon

  h2 Results
  +videoGrid(videos)
