$neutral-50: #fafafa;
$neutral-200: #e7e5e4;
$neutral-300: #d4d4d4;
$neutral-400: #a3a3a3;
$neutral-500: #737373;
$neutral-600: #525252;
$neutral-900: #171717;

$red-500: #ef4444;

$green-500: #22c55e;

$teal-300: #5eead4;
$teal-500: #14b8a6;

$anchor-hover: $teal-300;

$headerZIndex: 100;