@import "./config/_variables";
@import "./config/_reset";

body {
  background-color: $neutral-900;
  color: $neutral-50;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h2 {
  margin: 4rem 0;
  font-size: 1.5rem;
  font-weight: bold;
}

@mixin container {
  max-width: 96rem;
  margin: 0 auto;
  padding: 0 1rem;

  @include mediaQuery("2xl") {
    padding: 0 6rem;
  }

  @include mediaQuery("xl") {
    padding: 0 5rem;
  }

  @include mediaQuery("lg") {
    padding: 0 4rem;
  }

  @include mediaQuery("sm") {
    padding: 0 2rem;
  }
}

main {
  @include container;
}

@mixin form-label {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
}

@mixin button-color {
  background-color: $neutral-50;
  color: $neutral-900;

  &:hover {
    background-color: $neutral-200;
  }

  &:disabled {
    background-color: $neutral-200;
    color: $neutral-600;
  }
}

@mixin button {
  @include button-color;

  border-radius: .25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  cursor: pointer;
  gap: .25rem;
  padding: 0 .5rem;

  svg {
    width: 1.25rem;
  }
}

form {
  display: grid;
  width: 20rem;
  gap: 1rem .5rem;
  max-width: 80%;
  margin: 4rem auto;
  align-items: center;

  fieldset {
    display: grid;
    gap: .5rem;
  }

  label {
    @include form-label;
  }

  input {
    box-sizing: border-box;
    width: 100%;
  }

  button {
    @include button;
  }
}

.label {
  @include form-label;
}

.button {
  @include button;
}

a.button {
  @include button;
}

.actions {
  font-size: .85rem;
  text-align: center;
}

.pageTitle {
  margin: 1rem 0;
  font-weight: bold;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;
}

.hashtags {
  display: flex;
  gap: .5rem;

  li {
    display: flex;
    align-items: center;
    border-radius: .5rem;
    height: 1.5rem;
    padding: 0 .5em;
    font-size: .8rem;
    background-color: $neutral-500;
  }
}

.messages {
  $duration: 5s;

  @keyframes moveIn {
    0% {
      transform: translateY(-100%);
    }

    6% {
      transform: translateY(0);
    }

    100% {
      transform: translateY(0);
    }
  }

  @keyframes moveOut {
    0% {
      transform: translateY(0);
    }

    100% {
      transform: translateY(-100%);
    }
  }

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  pointer-events: none;
  transform: translateY(-100%);
  z-index: $messagesZIndex;
  transition: transform 0.3s ease-in-out;

  >div {
    margin: 1em auto;
    border-radius: 1em;
    padding: 1em 2em;
    max-width: 80%;
    font-size: .8rem;

    &.error {
      background-color: $red-500;
    }

    &.info {
      background-color: $neutral-500;
    }

    &.success {
      background-color: $green-500;
    }
  }
}

@import "./components/avatar";
@import "./components/header";
@import "./components/footer";
@import "./components/link";
@import "./components/recording";
@import "./components/videoGrid";
@import "./components/videoPlayer";

@import "./screens/profile";
@import "./screens/watch";
@import "./screens/join";
@import "./screens/search";
@import "./screens/login";
@import "./screens/editProfile";