.login {
  &__github-btn {
    font-size: 14px;
    color: $neutral-200;
    text-align: center;
    grid-column: 1 / 3;
  }

  &__actions {
    font-size: 14px;
    color: $neutral-200;
    text-align: center;
  }
}