.watch-video {
  &__content {
    margin: 1rem 0;
    display: grid;
    gap: .5rem;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: bold;
  }
}

.add-comment {
  &__form {
    max-width: initial;
    width: auto;
    grid-template-columns: auto 8rem;
  }
}

.comments {
  display: flex;
  align-items: center;

  ul {
    display: grid;
    gap: .5rem;
  }
}

.video__comment {
  display: flex;
  align-items: center;
  gap: .4rem;

  svg {
    flex-shrink: 0;
    width: 24px;
  }

  p {
    white-space: pre-line;
  }

  button {
    cursor: pointer;
  }
}

.no-comments {
  display: none;
}
