.header {
  position: sticky;
  top: 0;
  padding: 1rem 0;
  background-color: $neutral-900;
  z-index: $headerZIndex;

  &__inner {
    gap: 1rem;
    align-items: center;
    display: flex;

    @include container;
  }

  &__col {
    &--left {
      flex: 0 1 auto;
    }

    &--right {
      flex: 1 0 auto;
      display: flex;
      justify-content: end;
      align-items: center;
      gap: 16px;
    }
  }

  &__logo {
    text-align: center;
    display: inline-flex;
    align-items: center;
    gap: .5em;

    &__square {
      width: 2.5em;
      border-radius: .5em;
      background-color: $neutral-50;
      color: $neutral-900;

      .header__logo:hover & {
        background-color: $anchor-hover;
      }
    }

    svg {
      width: 1.5em;
      transform: translateX(.1em) translateY(.1em);
    }

    &__text {
      font-size: 1.2em;
      font-family: monospace;
      line-height: 1.2em;
    }
  }

  &__nav {
    ul {
      display: flex;
      align-items: center;
      gap: 16px;
    }
  }

  &__avatar {
    width: 3rem;
  }
}