include mixins/messages

doctype html
html(lang="ko")
  head
    title #{pageTitle} | #{siteName}
    link(rel="stylesheet" href="/static/css/styles.css")
  body 
    if messages.error
      +messages('error', messages.error)
    if messages.info
      +messages('info', messages.info)
    if messages.success
      +messages('success', messages.success)
    include partials/header
    main(class=screenName || (pageTitle ? pageTitle.toLowerCase().replace(' ', '-') : ''))
      block content
    include partials/footer

    script(src="/static/js/main.js")
    block scripts