extends base.pug

block content
  if errorMessage
    small=errorMessage
  form(method="POST")
    input(placeholder="email" name="email" type="email" required value=loggedInUser.email)
    input(placeholder="name" name="name" type="text" required value=loggedInUser.name)
    input(placeholder="location" name="location" type="text" value=loggedInUser.location)
    button(type="submit") Update Profile
