extends base.pug

block content
  if errorMessage
    span=errorMessage
  form(method="POST")
    input(name="title" placeholder="Title" required type="text")
    input(name="description" placeholder="Description" required type="text")
    input(name="hashtags" placeholder="Hastags, seperated by comma." required type="text")
    button(type="submit") Upload Video
