extends base.pug

block content
  div
    p=video.description
    small=video.createdAt

  div
    a(href=`${video.id}/edit`) Edit Video &rarr;
  div
    a(href=`${video.id}/delete`) Delete Video &rarr;