include ../mixins/avatar
include ../mixins/icons

header.header
  .header__inner
    div.header__col.header__col--left
      a.header__logo(href="/")
        span.header__logo__square
          +playIcon
        span.header__logo__text Ohtube
    button#mobile-menu-btn.header__mobile-menu-btn
      +bars3Icon
      | menu
    div.header__col.header__col--right
      div.header__menu
        button#close-mobile-menu-btn.header__close-mobile-menu-btn
          +xMarkIcon
          | close
        nav.header__nav
          ul  
            li
              a(href="/search") Search
            if loggedIn
              li
                a(href="/videos/upload") Upload Video
              li
                a(href="/users/logout") Logout
            else
              li
                a(href="/join") Join
              li
                a(href="/login") Login
        if loggedIn
          +avatar(loggedInUser, 'header__avatar')