extends ../base

block content
  form(method="POST")
    label.label(for="oldPassword") Old Password
    input(type="password" name="oldPassword" placeholder="old password" required)
    label.label(for="password") New Password
    input(type="password" name="password" placeholder="new password" required)
    label.label(for="passwordConfirmation") Confirm
      br
      | Password
    input(type="password" name="passwordConfirmation" placeholder="confirm password" required)
    button.button(type="submit") Change Passsword