extends ../base

block content
  form(method="POST")
    fieldset
      label.label(for="oldPassword") Old Password
      input(type="password" id="oldPassword" name="oldPassword" placeholder="old password" required)
    fieldset
      label.label(for="password") New Password
      input(type="password" id="password" name="password" placeholder="new password" required)
    fieldset
      label.label(for="passwordConfirmation") Confirm Password
      input(type="password" id="passwordConfirmation" name="passwordConfirmation" placeholder="confirm password" required)
    button(type="submit") Change Passsword